<div class="outer">
  <table style="width:100%">
    <tr>
      <td class="line">
      </td>
    </tr>
  </table>
  <div class="popup-container">
    <div class="popup">
      {{city | uppercase}}
      <table style="width:80px; position: relative; left: 47%">
        <tr>
          <td class="line">
        </td>
      </tr>
     </table>
    </div>
    <div class="add-area">
    <div class="store-add-pop">
      {{storeAdd}}
    </div>
    <div class="vl">
      <div class="right-view">
        <a nav-transition="">{{viewDirections}}</a>
      </div>
      <div class="appointment-div">   
        <button class="appointment">{{appointment | uppercase}}</button>
      </div>
    </div>
    </div>
  </div>
</div>